@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:host {
  display:block;
}

:host body, :host {
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.btn-primary {
  background-color: #d97706;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #b45309;
}

.input-style {
  background-color: #4b5563;
  color: #f0f0f0;
  border: 1px solid #6b7280;
}

.view-transition {
  transition: opacity 0.3s ease-in-out;
}
