@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:host {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.titulo{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #f0f0f0;
  text-transform: uppercase;
}

:host body, :host {
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.header-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('https://placehold.co/1200x400/333333/ffffff?text=Barbearia+Alpha');
  background-size: cover;
  background-position: center;
}

.btn-primary {
  background-color: #d97706;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #b45309;
}

.barber-card {
  background-color: #2c2c2c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Estilo para as descrições nas tags <p> */
.barber-card p {
  font-size: 12px; 
  font-family: 'Inter', sans-serif;
}

.view-transition {
  transition: opacity 0.3s ease-in-out;
}
